body {
    font-family: Arial, sans-serif;
    background-color: #ffc107;
    margin: 0;
    padding: 0;
}

header {
    background-color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #800080;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.container {
    text-align: center;
    padding: 50px 20px;
}

.content {
    background-color: #ff5722;
    color: #fff;
    padding: 40px;
    border-radius: 10px;
    display: inline-block;
}

h1 {
    
        font-size: 24px;
        color: #333;
        margin-right: 50px;
    
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.countdown div {
    background-color: #fff;
    color: #ff5722;
    padding: 10px;
    border-radius: 5px;
    margin: 0 5px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffaa00;
}
.#{
    margin-left: 50px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 40px;
    margin-right: 10px;
}
